<div class="container">
  <div class="row">
    <div class="col-4">
      <img
        src="./assets/imagen.jpg"
        alt="videofix"
        width="150px"
        class="float-start"
      />
    </div>

    <div class="col-4"></div>

    <div class="col-4">
      <span class="float-end pt-5"
        > FECHA:  {{fecha | date: 'yyyy-MM-dd'}} <br />
        COMPROBANTE No: 000
      </span>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <h4 class="form-title">CAJERO</h4>
      <select class="form-select">
        <option value="1">Ismerlys Baldiris Morelos</option>
        <option value="2">Daniela Abella Morelos</option>
        <option value="1">Antonio Alcala Perez</option>
      </select>
    </div>
  </div>
</div>
