<h4>CARACTERISTICAS DEL SERVICIO</h4>

<div class="container">
  <div class="row">
    <div class="row">
      <div class="col me-1">
        <label class="form-label"> <span>CONSOLA</span></label>
        <select class="form-select">
          <option value="0"></option>
          <option value="1">sony ps5</option>
          <option value="2">sony ps4</option>
          <option value="3">sony ps3</option>
          <option value="4">sony vita</option>
          <option value="5">xbox series x</option>
          <option value="6">xbox series s</option>
          <option value="7">xbox one x</option>
          <option value="8">xbox one s</option>
          <option value="9">xbox one fat</option>
          <option value="10">xbox 360</option>
          <option value="11">nintendo switch</option>
          <option value="12">nintendo wii</option>
          <option value="13">nintendo ds</option>
        </select>
      </div>

      <div class="col me-1">
        <div class="form-lable">DESCRIPCION</div>
        <textarea cols="50" rows="6"></textarea>
      </div>

      <div class="col">
        <div class="form-lable">DETALLES</div>
        <textarea cols="50" rows="6"></textarea>
      </div>

      <div class="row mb-1">
        <div class="col">
          <div class="form-lable">SERIAL</div>
          <input type="number" class="form-control" />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">IMPORTANTE:</h3>
              <P class="card-text">
                Videofix no se hace responsable por consolas dejadas u olvidadas
                despues de un periodo mayor a 60 dias, cumplido ese tiempo la
                consola puede ser rematada para cubir gastos de reparacion y
                bodegaje segun los articulos <span>1595,1599 y 1620</span> del
                codigo civil colombiano
              </P>
            </div>
          </div>
        </div>

        <div class="col-2 p-5">
          <button type="button" class="btn btn-primary float-end">
            GUARDAR
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
